In [ ]:
colors = ["red", "blue", "green"]
objects = ["chair", "table", "house"]

for i in colors:
    for j in objects:
        print(i, j)

red chair
red table
red house
blue chair
blue table
blue house
green chair
green table
green house

In [ ]:
# multiplication from 1 to 5
for i in range(1, 6):  # 6 is excluded here
    for j in range(1, 11):  # 11 is excluded here
        print(i, "x", j, "=", i * j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# python functions

# function definition


def add(x, y):  # add is function name, x and y are parameters
    return x + y  # returns the sum of x and y


# calling the function
add(2, 5)  # 2 and 3 are inputs / arguments

7

In [ ]:
add(2, 5, 3)

TypeError: add() takes 2 positional arguments but 3 were given

In [ ]:
add(2)

TypeError: add() missing 1 required positional argument: 'y'

In [ ]:
def multiplication(x, y):
    return x * y


multiplication(1, 2)

2

In [ ]:
# arbitraty arguments - we don't define how many arguments we have, it will figure out yourself
def add(*nums):
    sum = 0
    for i in nums:
        sum += i
    return sum


add(1, 2, 3, 4)

10

In [ ]:
# default parameter values
def mul(x, y=3):
    return x * y


mul(4)

12

In [ ]:
# argument ko priority badi huncha define gareko thau vanda
mul(4, 4)

16

In [ ]:
def substract(x=3,y):
    return x-y

substract(y=4)

# check keyword argument (homework)

SyntaxError: non-default argument follows default argument (<ipython-input-37-d05f5d07a269>, line 1)

In [ ]:
# lambda functions (for small functions, it's a default function, has no names, any number of arguments, only one expression)
# syntax: lambda arguments: expression

sum = lambda x, y, z: x + y + z

sum(1, 2, 3)

6

In [ ]:
### Python tuples

# example of tuples = can store multiple values, closed by parenthesis, immutable, allows duplicate values, ordered

# difference between list and tuple is list is mutable and tuple is immutable

# all the same operations of list can be done in tuple

# multiply tuples

(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# tuples value cannot be changed, immutable
test = (1, 2, 3)
test[0] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
# python sets
# sets are unordered, unindexed, doesn't allow duplicates, immutable, {}, not used extensively

# duplicates aren't retained
set_1 = {1, 2, "hi", 3, "hi"}

In [ ]:
set_1

{1, 2, 3, 'hi'}

In [ ]:
# python dictionary = key and values

In [2]:
 # iterate over a list
lst = ["one", "two", "three"]
for num in lst:
    print(num)

one
two
three

In [3]:
# iterate over a string (strings are sequence of characters)
for i in "python":
    print(i)

p
y
t
h
o
n

In [4]:
for i in "python":
    print(i)
    if i == "o":
        break

p
y
t
h
o

In [5]:
for i in range(2, 10, 3):
    print(i)

2
5
8

In [6]:
for i in range(2, 7):
    print(i)

2
3
4
5
6