In [12]:
print("Hello World!")

Hello World!

In [14]:
print('I love python')

I love python

In [16]:
#This is a single-line comment. Always comment on your code.

In [18]:
"""sjdhadhvaidhvadjhadlkjhadkjvhaldkjvhadlkvhdkjhadskjhavdlvh
adslkjvhadlskjvhadkjvhaldkjavhdkvajh
davjdhkd
jhsvkajhdjkdha
djshvkjdsvsd"""

'sjdhadhvaidhvadjhadlkjhadkjvhaldkjvhadlkvhdkjhadskjhavdlvh\nadslkjvhadlskjvhadkjvhaldkjavhdkvajh\ndavjdhkd\njhsvkajhdjkdha\ndjshvkjdsvsd'

## """multi
line
comment"""

In [24]:
x=2
X=5
print(x, X)

2 5

In [26]:
print(X)

5

In [28]:
print('x=',x)

x= 2

In [30]:
X=3

In [32]:
print(X)

3

In [34]:
language="python"
name="salish"
print(name, language)

salish python

In [36]:
name='john'

In [38]:
print(name, language)

john python

In [40]:
7name="harry"

SyntaxError: invalid decimal literal (1827744322.py, line 1)

In [42]:
_age=25
name7="Sarah"

In [44]:
name="Salish"
age=25
print('my name is',name, "and age is",age)

my name is Salish and age is 25

In [46]:
type(age)

int

In [48]:
fruits=["apple","banana"]
my_info={name:"salish", age:25}
    type(fruits, my_info)

TypeError: type() takes 1 or 3 arguments

In [50]:
type(fruits, my_info, name)

TypeError: type.__new__() argument 1 must be str, not list

In [52]:
type(fruits)
type(my_info)

dict

In [54]:
print(type(fruits),type(my_info))

<class 'list'> <class 'dict'>

In [56]:
int_var=int(2.5)
str_var=str(45)
float_var=float("3.14")

In [58]:
print(type(int_var),type(str_var),type(float_var))

<class 'int'> <class 'str'> <class 'float'>

In [60]:
print(float_var, str_var, int_var)

3.14 45 2

In [62]:
print(float_var+str_var)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [64]:
print(float_var+int_var)

5.140000000000001