In [ ]:
import pandas as pd
from scipy import stats

education_districtwise = pd.read_csv("../Week4/education_districtwise.csv")
education_districtwise = education_districtwise.dropna()

In [ ]:
education_districtwise.columns

Index(['AC_YEAR', 'STATCD', 'DISTCD', 'STATNAME', 'DISTNAME', 'DISTRICTS',
       'BLOCKS', 'VILLAGES', 'CLUSTERS', 'TOTPOPULAT',
       ...
       'UUNI_ALL', 'UUNI_SC', 'UUNI_ST', 'TOTCLS1G', 'TOTCLS2G', 'TOTCLS3G',
       'TOTCLS4G', 'TOTCLS5G', 'TOTCLS6G', 'TOTCLS7G'],
      dtype='object', length=819)

In [ ]:
education_districtwise["STATNAME"].unique()

array(['JAMMU & KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH',
       'UTTARAKHAND', 'HARYANA', 'DELHI', 'RAJASTHAN', 'UTTAR PRADESH',
       'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR',
       'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM', 'WEST BENGAL',
       'JHARKHAND', 'ODISHA', 'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT',
       'DAMAN & DIU', 'DADRA & NAGAR HAVELI', 'MAHARASHTRA',
       'ANDHRA PRADESH', 'KARNATAKA', 'GOA', 'LAKSHADWEEP', 'KERALA',
       'TAMIL NADU', 'PUDUCHERRY', 'A & N ISLANDS', 'TELANGANA'],
      dtype=object)

In [ ]:
punjab = education_districtwise[education_districtwise["STATNAME"] == "PUNJAB"]
bihar = education_districtwise[education_districtwise["STATNAME"] == "BIHAR"]

In [ ]:
punjab.head()

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
34,2015-16,3,301,PUNJAB,GURDASPUR,1,11,1107,166,2299026.0,...,36876,18715,197,4152,1592,2156,692,530,2319,402
35,2015-16,3,302,PUNJAB,AMRITSAR,1,9,816,125,2490891.0,...,51273,37287,77,4538,3180,3705,674,621,3126,542
36,2015-16,3,303,PUNJAB,KAPURTHALA,1,5,539,68,817668.0,...,20203,13748,10,1954,563,1481,406,218,995,250
37,2015-16,3,304,PUNJAB,JALANDHAR,1,11,982,156,2181753.0,...,43946,34590,40,4427,2124,3096,601,694,2598,491
38,2015-16,3,305,PUNJAB,HOSHIARPUR,1,10,1266,175,1582793.0,...,36885,24065,36,4327,1262,1730,724,588,2224,494

In [ ]:
sample_punjab = punjab.sample(n=20, replace=True, random_state=42)
sample_bihar = bihar.sample(n=20, replace=True, random_state=42)

In [ ]:
sample_punjab["OVERALL_LI"].mean()

np.float64(74.64399999999999)

In [ ]:
sample_bihar["OVERALL_LI"].mean()

np.float64(63.93449999999999)

In [ ]:
# Hypothesis Testing

In [ ]:
# Null hypothesis: There is not difference in literacy rate
# Alternate hypothesis: There is difference in hypotesis
# significance level: 5% error vaye null hypothesis manne

In [ ]:
stats.ttest_ind(
    a=sample_bihar["OVERALL_LI"], b=sample_punjab["OVERALL_LI"], equal_var=False
)

TtestResult(statistic=np.float64(-5.015791975106108), pvalue=np.float64(1.2648989984788033e-05), df=np.float64(37.98457672271091))

In [ ]:
# T value is -5.01579
# p value = 1.2648

In [ ]:
stats.ttest_ind(
    a=sample_punjab["OVERALL_LI"], b=sample_bihar["OVERALL_LI"], equal_var=False
)

TtestResult(statistic=np.float64(5.015791975106108), pvalue=np.float64(1.2648989984788033e-05), df=np.float64(37.98457672271091))