In [ ]:
import numpy as np
import pandas as pd

rng = np.random.RandomState(0)
df = pd.DataFrame(
    {
        "key": ["A", "B", "C", "A", "B", "C"],
        "data1": range(6),
        "data2": rng.randint(0, 10, 6),
    },
    columns=["key", "data1", "data2"],
)

df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [ ]:
# reserved keywords ma chai = halni ani hami le define gareko ma chai colon

In [ ]:
df.groupby('key').aggregate([min, np.mean, np.max])

<ipython-input-6-8c3f715d8fbb>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('key').aggregate([min, np.mean, np.max])
<ipython-input-6-8c3f715d8fbb>:1: FutureWarning: The provided callable <function mean at 0x00000222742B89A0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('key').aggregate([min, np.mean, np.max])
<ipython-input-6-8c3f715d8fbb>:1: FutureWarning: The provided callable <function max at 0x00000222742A7F60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('key').aggregate([min, np.mean, np.max])
<ipython-input-6-8c3f715d8fbb>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('key').aggregate([min, np.mean, np.max])

    data1          data2
      min mean max   min mean max
key
A       0  1.5   3     3  4.0   5
B       1  2.5   4     0  3.5   7
C       2  3.5   5     3  6.0   9

In [ ]:
#list ma pass gareko

In [ ]:
# aba chai dataframe ma
df.groupby("key").aggregate({"data1": "min", "data2": "max"})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [ ]:
# transformation
df.groupby("key").transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [ ]:
from dateutil import parser

date = parser.parse("3rd of may, 2016")
date

datetime.datetime(2016, 5, 3, 0, 0)

In [ ]:
from datetime import datetime

datetime(year=2016, month=7, day=24)

datetime.datetime(2016, 7, 24, 0, 0)

In [ ]:
# both of them are native python functions

In [ ]:
date.strftime("%A")

'Tuesday'

In [ ]:
# tyo timee ma k day pareko cha?

In [ ]:
date = pd.to_datetime("5th of august, 1963")

In [ ]:
date

Timestamp('1963-08-05 00:00:00')

In [ ]:
date.strftime("%A")

'Monday'

In [ ]:
date + pd.to_timedelta(np.arange(12), "M")

ValueError: Units 'M', 'Y', and 'y' are no longer supported, as they do not represent unambiguous timedelta values durations.

In [ ]:
date + pd.to_timedelta(np.arange(12), "H")

<ipython-input-20-a6bd370682f2>:1: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  date + pd.to_timedelta(np.arange(12), "H")

DatetimeIndex(['1963-08-05 00:00:00', '1963-08-05 01:00:00',
               '1963-08-05 02:00:00', '1963-08-05 03:00:00',
               '1963-08-05 04:00:00', '1963-08-05 05:00:00',
               '1963-08-05 06:00:00', '1963-08-05 07:00:00',
               '1963-08-05 08:00:00', '1963-08-05 09:00:00',
               '1963-08-05 10:00:00', '1963-08-05 11:00:00'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
index = pd.DatetimeIndex(pd.date_range("2015-1-22", "2020-1-22", periods=4))
data = pd.Series([0, 1, 2, 3], index=index)
data

2015-01-22 00:00:00    0
2016-09-21 16:00:00    1
2018-05-23 08:00:00    2
2020-01-22 00:00:00    3
dtype: int64

In [ ]:
pd.period_range("2016-07", periods=7, freq="M")

PeriodIndex(['2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
             '2017-01'],
            dtype='period[M]')

In [ ]:
msft = pd.read_csv("MSFT_Stock_data.csv")
msft.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
9453,2023-09-15,336.920013,337.399994,329.649994,330.220001,330.220001,37666900
9454,2023-09-18,327.799988,330.399994,326.359985,329.059998,329.059998,16834200
9455,2023-09-19,326.170013,329.390015,324.510010,328.649994,328.649994,16505900
9456,2023-09-20,329.510010,329.589996,320.510010,320.769989,320.769989,21436500
9457,2023-09-21,319.260010,325.350006,315.000000,319.529999,319.529999,35529500

In [ ]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is DC47-5B35

 Directory of c:\Users\salis\Desktop\python\Week3

09/04/2024  07:41 AM    <DIR>          .
09/01/2024  02:18 PM    <DIR>          ..
09/02/2024  08:00 AM           655,199 03 - Python_for_Data_Science_Numpy_Pandas_Course_Notes.pdf
09/22/2023  11:25 AM           976,103 MSFT_Stock_data.csv
09/02/2024  07:43 AM               872 state-abbrevs.csv
09/02/2024  07:41 AM               835 state-areas.csv
09/02/2024  07:41 AM            57,935 state-population.csv
09/01/2024  07:57 AM            47,126 w3d1.ipynb
09/01/2024  02:16 PM             1,601 w3d1.py
09/02/2024  07:59 AM            48,514 w3d2.ipynb
09/04/2024  07:02 AM             3,345 w3d2.py
09/03/2024  08:00 AM           183,210 w3d3.ipynb
09/03/2024  08:00 AM             2,318 w3d3.py
09/04/2024  07:42 AM             1,219 w3d4.py
              12 File(s)      1,978,277 bytes
               2 Dir(s)  40,027,127,808 bytes free

In [ ]:
msft.set_index("Date", inplace=True)
msft.head()

                Open      High       Low     Close  Adj Close      Volume
Date
1986-03-13  0.088542  0.101563  0.088542  0.097222   0.060396  1031788800
1986-03-14  0.097222  0.102431  0.097222  0.100694   0.062553   308160000
1986-03-17  0.100694  0.103299  0.100694  0.102431   0.063632   133171200
1986-03-18  0.102431  0.103299  0.098958  0.099826   0.062014    67766400
1986-03-19  0.099826  0.100694  0.097222  0.098090   0.060936    47894400

In [ ]:
# set index is explicit always

In [ ]:
# check notes here